.App {
  width: 90%;
  margin: 0 auto;
}

/* testing - remove this ans use styled components */
.modal {
  min-height: 30vh;
  min-width: 30vh;
  padding: 1em;
  background: tomato;
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
}